
$primaryText: #757575;
$logoColor: #000000;
$titleColor: #212121;
$accentColor: #2196f3;
$whiteColor: #ffffff;
$heroBgColor: #2f303a;
$sectionBg: #f5f4fa;
$workBg: rgba(47, 48, 58, 0.8);
$borderColor: #eeeeee;
$lineColor: #ececec;
$grey: #afb1b8;
$teamShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);

$btnShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$borderRadius: 0px 0px 4px 4px;