.hero {
    background-color: $heroBgColor;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero_img_mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    text-align: center;
    padding: 118px 0;
    margin: 0 auto;
    height: auto;
    width: 100%;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero_img_mob-2x.jpg);
        }
    @include tablet {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/hero-bg_tablet.jpg);
                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../images/hero-bg_tablet-2x.jpg);
                    }
                }
    @include desktop {
       max-width: 1600px;
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-2x.jpg);
        }
            }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;
    color: $whiteColor;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include desktop {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}